BasedOnStyle: LLVM
IndentWidth: 4 
DerivePointerAlignment: False 
PointerAlignment: Left 
ColumnLimit: 110 
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: All
